@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Noto+Sans:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap");
@import "tailwindcss";

@layer base {
  p {
    font-size: var(--text-base);
    color: var(--color-gray-700);
  }
  h1 {
    font-size: var(--text-3xl);
    font-weight: var(--font-weight-semibold);
    color: var(--color-gray-950);
    padding: 6px;
  }

  h2 {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-bold);
    color: var(--color-gray-950);
  }
  button {
    background-color: blue;
    padding: 5px 10px;
    color: aliceblue;
    border-radius: var(--radius-md);
    cursor: pointer;
  }
  input {
    outline: 1px solid;
    background-color: var(--color-gray-100);
    border-radius: var(--radius-sm);
    padding: 0 4px;
  }
}
